
<div class="card-container">
    <mat-card class="example-card"  *ngFor="let pokemons of pokemons"  >
      <mat-card-header>
        <div mat-card-avatar  class="example-header-image">
          <img [src]="pokemons.sprites.back_shiny" alt="pokemons.sprites.">
          <div class="card-pokemon-name">
            <mat-card-title class="pokemon-name">{{pokemons.name}}</mat-card-title>
            <mat-card-subtitle>weight : {{pokemons.weight}} </mat-card-subtitle>
          </div>
        </div>

      </mat-card-header>
      <img mat-card-image [src]="pokemons.sprites.other.dream_world.front_default"  width="100px" height="100px" alt="Photo of a Shiba Inu">
      <mat-card-content>
        <p ><b>Base Experience : </b>  {{pokemons.base_experience}}</p>
        <div class="progress-container">
          <div class="progress-bar" [ngStyle]="{ width: ( pokemons.base_experience/ maxValue) * 100 + '%' }"></div>
        </div>
        <div class="stat-container">
          <p>Stats</p>
          <div *ngFor="let stat of pokemons.stats ">
            <p>{{stat.base_stat}} </p>
          </div>
        </div>

      </mat-card-content>
      <mat-card-actions>
        <button class="read-more-button" mat-raised-button color="warn" routerLink="pokemonInfo/{{pokemons.name}}">Read more</button>
      </mat-card-actions>
    </mat-card>
</div>
<div class="center-button-container">
  <button class="load-more-button" mat-raised-button color="primary" >Load more...</button>
</div>

