.example-card {
  max-width: 350px;
  background-color: #fff89f;
  padding: 10px;
  height: 45vh;
  margin: 7px;
}
.card-container{
 display: flex;
 flex-wrap: wrap;
 flex-direction: row;
}

.example-header-image {
  background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
  background-size: cover;
}

.read-more-button{
  width: 50vw;
}
img{
  align-self: center;
}
.center-button-container {
  display: flex;
  justify-content: center;
  align-items: center;
}


