.example-card {
  max-width: 350px;
  background-color: #fff89f;
  padding: 10px;
  height: 45vh;
  margin: 7px;
}
.card-container{
 display: flex;
 flex-wrap: wrap;
 flex-direction: row;
}

/* .example-header-image {
  background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
  background-size: cover;
} */
.example-header-image img{
  width: 70px;
  height: 70px;
  border-radius: 50px;
}
.example-header-image{
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: baseline;
}
.pokemon-name{
  text-transform: capitalize;
}
.read-more-button{
  width: 50vw;
}
img{
  align-self: center;
}

/* progress bar css */
.progress-container {
  width: 300px;
  background-color: #f0f0f0;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-bottom: 20px;
}

/* Define the styles for the progress bar */
.progress-bar {
  width: 0;
  height: 10px;
  text-align: center;
  line-height: 20px;
  background-color: #4CAF50; /* Green color */
  color: white;

}
.stat-container{
  display: flex;
  justify-content: space-around;
}

.center-button-container {
  display: flex;
  justify-content: center;
  align-items: center;
}


