.pokemon-name-heading{
  margin-top: 30px;
  text-align: center;
  text-transform: capitalize;
}
.bordered-text{
  font-size: 24px; /* Set the font size as needed */
    display: inline-block; /* To apply styles to inline elements */
    font-size: 90px;
  text-align: center;
  text-transform: capitalize;
  display: inline;
  text-shadow: 0 0 10px #171a17, 0 0 20px #161a16, 0 0 30px #1c221c;

}
.image-div{
  background-color: antiquewhite;
  border-radius: 20px;

}
.img-div{
  width: fit-content;
  border-radius: 50%;
}
.ability-name{
  text-align: center;
}
.effect-name-heading{
  margin-top: 10px;
  font-size: 50px;
  font-weight: bold;
}
.effects{
  margin: 0 25px 25px 25px;
  border-bottom: 1px solid yellow;
}
.effect-entries-heading{
  margin-left: 25px;
  font-weight: bold;
  color: goldenrod;
}
.flavour-text-for-loop-div{
  margin-left: 30px;

}
.grid-div{
  display: grid;
  grid-template-columns: 1fr 1fr;
  border-bottom: 1px solid yellow;
  margin-bottom: 25px;
}
.pokemon-similar-ability-loop{
  margin-left: 25px;
}
.progress-container {
  width: 700px;
  background-color: #f0f0f0;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-bottom: 20px;
}

/* Define the styles for the progress bar */
.progress-bar {
  width: 0;
  height: 30px;
  text-align: center;
  line-height: 30px;
  background-color: #af4c54; /* Green color */
  color: gold;
  font-size: larger;
}
.progress-bar-div{
  margin-top: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.accuracy-heading{
  font-size: 40px;
  margin-right: 25px;
  text-align: center;

}
.species-scale{
  border-bottom: 1px solid gold;
}

.eggGroup-habitate-grwothRate{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin:0px 50px 30px 50px;
  border-bottom: 1px solid gold;
}
.eggGroup-habitate-grwothRate-loops{
  margin-left: 40px;
}
.pokemonCharacteristic-loop{
  display: flex;
  column-gap: 10px;
  align-items: center;
  justify-content: baseline;
}
.character{
  margin: 10px 0 0 40% ;
  text-align: center;
}
