.pokemon-name-heading{
  font-size: 90px;
  text-align: center;
  margin-top: 30px;
  text-transform: capitalize;
  margin-bottom: 30px;
  font-weight: bold;
}
.image-div{
  background-color: antiquewhite;
  border-radius: 20px;

}
.img-div{
  width: fit-content;
  border-radius: 50%;
}
.ability-name{
  text-align: center;
}
.effect-name-heading{
  margin-top: 10px;
  font-size: 50px;
  font-weight: bold;
}
.effects{
  margin: 0 25px 25px 25px;
  border-bottom: 1px solid yellow;
}
.effect-entries-heading{
  margin-left: 25px;
  font-weight: bold;
  color: goldenrod;
}
.flavour-text-for-loop-div{
  margin-left: 30px;

}
.grid-div{
  display: grid;
  grid-template-columns: 1fr 1fr;
  border-bottom: 1px solid yellow;
  margin-bottom: 25px;
}
.pokemon-similar-ability-loop{
  margin-left: 25px;
}
.progress-container {
  width: 700px;
  background-color: #f0f0f0;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-bottom: 20px;
}

/* Define the styles for the progress bar */
.progress-bar {
  width: 0;
  height: 30px;
  text-align: center;
  line-height: 30px;
  background-color: #af4c54; /* Green color */
  color: white;
}
.progress-bar-div{
  margin-top: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.accuracy-heading{
  font-size: 40px;
  margin-right: 25px;
  text-align: center;

}
