<h1 class="pokemon-name-heading" [ngStyle]="{color:pokemonColor}" > <span class="bordered-text"> {{pokemon.name}}</span></h1>
<div class="image-div" >
  <div class="img-div" [ngStyle]="{backgroundColor:pokemonSpecies?.color.name}">
    <img [src]="pokemon.sprites.other.dream_world.front_default"  height="500px" width="500px" alt="">
  </div>
  <div class="more-info">
    <div>
        <div class="card" style="width: 18rem;">
          <div class="card-body">
            <h5 class="card-title">Berries</h5>
            <h6 class="card-subtitle text-muted">{{berries?.name}}</h6>
            <div class="flavour-loop-div">
              <p>Flavors : </p>
              <div class="flavors-loop" *ngFor="let fl of berries?.flavors">
                <p class="card-text">{{fl.flavor.name}}  </p>
              </div>
            </div>
            <div class="berry-data">
              <p>Firm-ness : </p>
              <p>{{berries?.firmness.name}}</p>
            </div>
            <div class="berry-data">
              <p>Item : </p>
              <p>{{berries?.item.name}} </p>
            </div>
            <div class="berry-data">
              <p>Natural Gift : </p>
              <p>{{berries?.natural_gift_type.name}}</p>
            </div>
          </div>
          <div class="berry-progess-bars">
            <div class="card-bar-div">
                <p class="berry-card-progress-heading">Growth Time</p>
              <div class="berry-progress-container">
                <div class="berry-progress-bar" [ngStyle]="{ width: ( berries?.growth_time/ maxGrowthTime) * 100 + '%' ,backgroundColor:pokemonColor}">{{pokemonMoves?.power}}</div>
              </div>
            </div>
            <div class="card-bar-div">
              <p class="berry-card-progress-heading">Natural Gift Power</p>
              <div class="berry-progress-container">
              <div class="berry-progress-bar" [ngStyle]="{ width: ( berries?.natural_gift_power/ maxNaturalGiftPower) * 100 + '%' ,backgroundColor:pokemonColor}">{{berries?.natural_gift_power}}</div>
            </div>
          </div>
          </div>
        </div>
    </div>
  </div>
</div>
<div class="tap-panel">
  <mat-tab-group>
    <mat-tab label="Abilities">
      <div  class="ability-name">
        <span>Ability name : </span>
        <p class="effect-name-heading">{{ pokemonAbility?.name }}</p>
      </div>
      <h2 class="effect-entries-heading">Effect Entries</h2>
      <div class="effects" *ngFor="let eff of pokemonAbility?.effect_entries ">
        <p>{{eff.effect}} </p>
      </div>
      <div class="flavour-text-entries">
        <h2 class="effect-entries-heading">Flavour text Entries</h2>
        <div class="grid-div">
          <div *ngFor="let e of pokemonAbility?.flavor_text_entries" class="flavour-text-for-loop-div">
            <p>{{e.flavor_text}} </p>
          </div>
        </div>
      </div>
        <div class="pokemon-similar-ability">
          <h2 class="effect-entries-heading">Pokemons having similar ability</h2>
          <div class="pokemons-list">
            <div *ngFor=" let p of pokemonAbility?.pokemon" class="pokemon-similar-ability-loop" >
              <p>{{p.pokemon.name}} </p>
            </div>
          </div>
        </div>
    </mat-tab>
    <mat-tab label="Moves">
      <div class="progress-bar-div">
        <h2 class="accuracy-heading">Accuracy</h2>
        <div class="progress-container">
          <div class="progress-bar" [ngStyle]="{ width: ( pokemonMoves?.accuracy/ maxValue) * 100 + '%' ,backgroundColor:pokemonColor}">{{pokemonMoves?.accuracy}}</div>
        </div>
      </div>
      <div class="progress-bar-div">
        <h2 class="accuracy-heading">Power</h2>
        <div class="progress-container">
          <div class="progress-bar" [ngStyle]="{ width: ( pokemonMoves?.power/ maxValue) * 100 + '%' ,backgroundColor:pokemonColor}">{{pokemonMoves?.power}}</div>
        </div>
      </div>

      <h2 class="effect-entries-heading">Effect Entries</h2>
      <div class="effects" *ngFor="let eff of pokemonMoves?.effect_entries ">
        <span>Effect : </span><p>{{eff.effect}} </p>
       <span>Short effect : </span> <p>{{eff.short_effect}} </p>
      </div>

      <h2 class="effect-entries-heading">Learned by pokemon</h2>
      <div class="grid-div">
        <div class="flavour-text-for-loop-div" *ngFor="let eff of pokemonMoves?.learned_by_pokemon ">
          <p>{{eff.name}} </p>
        </div>
      </div>


    </mat-tab>
    <mat-tab label="Species">
      <div class="species-scale">
        <div class="progress-bar-div">
          <h2 class="accuracy-heading">Base Happiness</h2>
          <div class="progress-container">
            <div class="progress-bar" [ngStyle]="{ width: ( pokemonSpecies?.base_happiness/ maxBaseHappiness) * 100 + '%' ,backgroundColor:pokemonColor}">{{pokemonSpecies?.base_happiness}}</div>
          </div>
        </div>
        <div class="progress-bar-div">
          <h2 class="accuracy-heading">Capture Rate</h2>
          <div class="progress-container">
            <div class="progress-bar" [ngStyle]="{ width: ( pokemonSpecies?.capture_rate/ maxcaptureRate) * 100 + '%',backgroundColor:pokemonColor}">{{pokemonSpecies?.capture_rate}}</div>
          </div>
        </div>
        <div class="progress-bar-div">
          <h2 class="accuracy-heading">hatch couter</h2>
          <div class="progress-container">
            <div class="progress-bar" [ngStyle]="{ width: ( pokemonSpecies?.hatch_counter/ maxHatchCounter) * 100 + '%',backgroundColor:pokemonColor}">{{pokemonSpecies?.hatch_counter}}</div>
          </div>
        </div>
      </div>
      <div class="eggGroup-habitate-grwothRate">
        <div class="eggGroup">
          <div>
            <h1>Egg Groudp</h1>
              <div *ngFor="let group of pokemonSpecies?.egg_groups" class="eggGroup-habitate-grwothRate-loops">
                <p>{{group.name}} </p>
              </div>
          </div>
        </div>
        <div class="growthRate">
          <div>
            <h1>Growth Rate</h1>
            <p>{{pokemonSpecies?.growth_rate.name}}</p>
          </div>
        </div>
        <div class="habitate">
          <div>
            <h1>Habitate</h1>
            <p>{{pokemonSpecies?.habitat.name}}</p>
          </div>
        </div>
      </div>
    </mat-tab>
    <mat-tab label="Charecteristics">
      <div class="Charecteristics">
        <div class="character">
          <div class="pokemonCharacteristic-loop">
            <h1>Possible values</h1>
            <div *ngFor="let group of pokemonCharacteristic?.possible_values" >
              <p>{{group}} </p>
            </div>
          </div>
          <div>
            <div class="pokemonCharacteristic-loop">
              <p>Highest Stat : </p>
            <p>{{pokemonCharacteristic?.highest_stat.name}}</p>
            </div>
          </div>
        </div>


      </div>
    </mat-tab>
  </mat-tab-group>

</div>
